nelmio_cors:
  defaults:
    origin_regex: true
    allow_origin:
      - '^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
      - '^https://annuaire\.cncj-ci\.ci$'
    allow_methods: ['GET', 'OPTIONS', 'POST', 'PUT', 'PATCH', 'DELETE']
    allow_headers: ['Content-Type', 'Authorization']
    expose_headers: ['Link']
    max_age: 3600
  paths:
    "^/api/": ~     # <-- corriger ici (c’était ^/api/': ~)
