security:
  # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

  # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      lazy: true
      provider: app_user_provider
      form_login:
        login_path: app_login
        check_path: app_login
        enable_csrf: true
      logout:
        path: app_logout
        target: app_login

  # Hiérarchie des rôles
  role_hierarchy:
    ROLE_LAWYER: ROLE_USER
    ROLE_RESPO_CABINET: [ROLE_USER, ROLE_LAWYER]
    ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_LAWYER, ROLE_RESPO_CABINET, ROLE_ADMIN]

  access_control:
    # Routes publiques
    - { path: ^/api, roles: PUBLIC_ACCESS }
    - { path: ^/login, roles: PUBLIC_ACCESS }

    # Back-office
    - { path: ^/admin/lawyers/me, roles: ROLE_LAWYER }
    - { path: ^/admin/lawyers, roles: ROLE_RESPO_CABINET }
    - { path: ^/admin/cabinets, roles: ROLE_SUPER_ADMIN }
    - { path: ^/admin, roles: ROLE_USER }

when@test:
  security:
    password_hashers:
      Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
        algorithm: auto
        cost: 4
        time_cost: 3
        memory_cost: 10